* {
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

html {
  background: rgb(255, 255, 255);
  height: 100%;
}

body {
  font: bold 10px/1.5 Helvetica, Arial, sans-serif;
  letter-spacing: .15rem;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

/*** TITLE, NAV, CONTAINER, HEADER, FOOTER ***/

#nav-title {
  color: #4c657f;
  font-size: 2rem;
  text-align: center;
}

.navbar {
    background-color: #dfdfdf !important;
}

#sub-title {
  display: none;
}

.container {
  margin: auto;
}

/*** TEXT ***/
.content {
  text-align: center;
}

p.content {
  font-size: 1.2rem;
  font-weight: lighter;
  line-height: 1.75;
  /*padding: .5rem 0;*/
  margin: 1rem 0;
}

h1.content {
  font-size: 1.75rem;
  padding-top: 1rem;
  padding-bottom: .75rem;
}

li.content {
  font-size: 1rem;
  letter-spacing: .12rem;
}

code {
  font-family: monospace;
}

/*** LINKS ***/
a:link {
  color: #4c657f;
}

a:hover {
  text-decoration: underline;
  font-weight: bolder;
}

a:visited {
  color: #4c657f;
}

/*** IMAGES ***/
img {
  max-width: 100%;
  height-auto;
}

.img-content {
  display: none;
}

/*** MEDIA QUERIES ***/
@media only screen and (min-width: 700px) {
  
  .container {
  margin: 5% 3%;
  }

  #sub-title, .img-content {
    display: block;
  }
}
